.git
.gitignore
.gitleaks*
.env
.env.*
!.env.example
db.sql
vendor
socket/node_modules
**/__pycache__
**/*.pyc
**/.DS_Store
**/*.bak
aplikasi/logs/log-*.php
aplikasi/cache/*
!aplikasi/cache/index.html
perpustakaan/berkas/*
!perpustakaan/berkas/index.html
